.container {
  margin: 0 auto;
  // background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.wrapper {
  padding-bottom: 15px;
  padding-top: 15px;
  background-image: image-url("velo-plage.jpg");
  background-position: center;
  background-size: cover;
}

.form {
  background: rgba(244, 244, 244, 0.85);
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0px 10px 40px -10px rgba(0,64,128,0.2);
}
.form h1 {
  text-align: center;
  margin-top: 10px;
}

.button {
  margin-bottom: 5px;
}

.formule {
  padding: 10px;
  margin: 10px;
}
.formule label {
  font-size: 15px;

}

.formule h2 {
  text-align: center;
}


