.product {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

}
.product-img {
  grid-row: 1 / span 1;
  grid-columns: 1 /span 1;
  background: cover;


}
.product-description {
  grid-row: 2 / span 1;
  grid-columns: 1 /span 1;

}
.product-map {
    grid-row: 1 / span 2;
  grid-columns: 2 /span 1;

}
