
<nav class="navbar navbar-dark bg-dark">
  <div class="navbar_content">
    <div class="logo-navbar">
      <%= link_to image_tag("ride-logo.jpg", alt: "logo"), '/', class: 'navbar-brand' %>
    </div>
    <div class="search-bar">
    <form class="form-inline">
      <input class="form-control form-control-lg search" type="search" placeholder="Choisir une ville" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </form>
    </div>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right pull-right navbar-wagon-dropdown-menu">
            <li><a href="#">Profil</a></li>
            <li><a href="#">Se Déconnecter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--   </div> -->



<!-- <nav class="navbar navbar-light bg-light">

  <form class="form-inline">

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

  </form>

</nav> -->
