<!-- <div class="card-product">
  <div class="card-user">

  </div>
  <div class="card-product-title">

  <div class="card-product-price">

  </div>
  <div class="card-description">

  </div>
</div>
 -->
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shangha');">
  <div class="card-category">Titre de l'annonce</div>
  <div class="card-description">
    <h2>Velo Cinelli</h2>
  </div>
  <div class="price-description">
    <p>15€/jour</p>
    </div>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/davidcrn">
  <a class="card-link" href="#" ></a>
</div>
