/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  margin-bottom: 0px !important;
}
.alert-info {
  background-color: #dff0d8 !important;
  border-color: #d0e9c6 !important;
  color: #3c763d !important;
}
.alert-warning {
  background-color: #f2dede !important;
  border-color: #ebcccc !important;
  color: #a94442 !important;
}
