.btn-valide {
  color: white;
  background-color: blue;
  font-size: 16px;
  border-radius: 4px;
  padding: 4px;
}

.btn-refuse {
  color: white;
  background-color: red;
  font-size: 16px;
  border-radius: 4px;
  padding: 4px;
}


p {
  font-size: 15px;
}

.content-resa {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  justify-content: space-between;
  border: 1px solid black;
}

.btn-deux {
  padding: 10px;
}
.debut {
  width: 70%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .title {
    width: 250px;
  }

  .adress {
    padding: 0px;
    flex: 1 0 auto;
    margin-left: 10px;
  }
}


.date {
  padding: 0px 10px;
}

.date2 {
  padding: 0px 28px;
}

.status {
  text-align: center;
}

.fin {
  display: flex;
  justify-content: space-between;
}

.fin2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  min-resolution: res;-width: 600px;
}

.photo {
  width: 140px;
}


.content-loca {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  justify-content: space-between;
  border: 1px solid black;
}

.name {
  padding: 0px;
  flex: 1 0 auto;
  margin-left: -37px;
}
