p {
  font-size: 15px;
}

.content-resa {
  display: flex;
  align-items: center;
  padding: 20px;
  // border-bottom: 1px solid rgba(220,224,244,0.4);
  box-shadow: 2px 2px 2px rgba(150,150,150,0.8);
  justify-content: space-between;
  margin-bottom: 15px;
  // border: 1px solid #F96D00;
  // border-bottom: 1px solid black;

}

.btn-deux {
  padding: 10px;
}
.debut {
  width: 70%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .title {
    width: 250px;


  }

  .adress {
    padding: 0px;
    height: 100%;
    flex: 1 0 auto;
    margin-left: 10px;
  }
}


.date {
  padding: 0px 10px;
}

.date2 {
  padding: 0px 28px;
}

.status {
  text-align: center;
}

.fin {
  display: flex;
  justify-content: space-between;
}

.fin2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  min-resolution: res;-width: 600px;
}

.photo {
  border-radius: 21%;
  width: 140px;
}


.content-loca {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  justify-content: space-between;
  border: 1px solid black;
}

.name {
  padding: 0px;
  flex: 1 0 auto;
  margin-left: -37px;
}


.search-button {
    color: white;
    padding: 12px 30px;
    border-radius: 4px;
    background: #F96D00;
    transition: background 0.3s ease;
    text-decoration: none !important;
    border: 0px;
}

.btn-black {
    color: white;
    padding: 12px 30px;
    border-radius: 4px;
    background: black;
    transition: background 0.3s ease;
    text-decoration: none !important;
    border: 0px;
}

.nav {
  font-size: 20px;
  background-color: black;
}

.nav > li > a {
  color: #F96D00;
}

.content-prod {
  display: flex;
  justify: space-between;
  align-items: center;
}

