.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-top: 2px solid #F96D00;
}

.footer-copyright {
  color: #343a40;
}


