/* User Avatar */
.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}



.navbar-brand > img {
  height: 50px;
  width: 60px;
}

.navbar_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo-navbar {
  margin-top: -6px;
  margin-right: 5px;
}

.search-bar {
  margin-right: 1000px;
}

.btn {
  height: 39px;
}
