/* User Avatar */
.avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.navbar_content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.navbar-brand > img {
  height: 50px;
  width: 60px;
  margin-left: -21px;
}
.search  {
  margin-right: 10px;
}

.logo-navbar {
  margin-top: -6px;
  margin-right: 5px;
}

.search-bar {
  flex: 1 0 auto;
  padding: 0 20px;
  color: black;
}

.btn {
  height: 39px;
}

.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

.search_bar {
  height: 46px;
  width: 167px;
  border-radius: 4px;
}

.btn-search {
  border-radius: 4px;
  background-color: white;
  border: black;
  height: 45px;
}
