<div class="content">
  <div class="card-container">
    <div class="row">
        <%= render 'Component/card' %>
    </div>
  </div>
  <div
    id="map"
    style="width: 700px;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>



