<<<<<<< HEAD
<div class="content" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('<%= image_path "ecran-show.jpg", crop: :fill; %>');">
=======
<div class="content" style="background-image: linear-gradient(rgba(50,50,50,0.7), rgba(50,50,50,0.7)), url('<%= image_path "wall-bike.jpg", crop: :fill; %>');">
>>>>>>> master

  <div class="card-container">
    <div class="row">
      <%= render 'Component/card' %>
    </div>
  </div>
  <div
    id="map"
    style="width: 700px;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>



