<div class="content" style="background-image: linear-gradient(rgba(250,250,250,0.95), rgba(250,250,250,0.95)), url('<%= image_path "wall-bike.jpg", crop: :fill; %>');">

  <div class="card-container">
    <div class="row">
      <%= render 'Component/card' %>
    </div>
  </div>
  <div
    id="map"
    style="width: 700px;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>



