<div class="wrapper">
  <div class="row">
    <div class="col-xs-8">
      <%= render 'Component/card' %>
    </div>
    <div class="col-xs-4">
      <map name="">sdqsdsdqdqsdqd</map>
    </div>
  </div>
</div>


<%= link_to "Ajouter un produit", new_product_path  %>
