<div class="wrapper">
    <div class="row custom">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4 form">
        <h1>Nouveau produit</h1>
        <%= render 'products/form' %>
        <%= button_to 'Retour aux produits', products_path, method: :get, class: "btn-recherche" %>
      </div>
    </div>
</div>

